<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Akikiyobook", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "使い方", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "ユーザー一覧", users_path %></li>
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "設定", edit_user_path(current_user) %></li>
            <li><%= link_to "ログアウト", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "ログイン", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>